@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background: url(images/pattern-background-desktop.svg);
    background-color: hsl(223, 95%, 93%);
    background-repeat: repeat-x;
}
main {
  
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 15px 4px rgb(28 23 23 / 20%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 350px;
  border-radius: 10px;
}

.container img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 350px;
}

.middle {
  text-align: center;
}

h2 {
  font-family: "Outfit", sans-serif;

  color: hsl(223, 47%, 23%);
  font-weight: bolder;
  padding: 25px;
}

.info {
  width: 75%;
  margin: auto;
  line-height: 1.5;
  word-spacing: 2px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  font-weight: 40px;
}

.pricing img {
  width: 50px;
  height: 50px;
  margin: 20px 10px;
}

.pricing .Annual-plan {
  font-weight: bolder;
  line-height: 1.5;
  font-size: 1.1rem;
  margin: 20px;
  font-family: "Outfit", sans-serif;
}

.pricing .year {
  color: hsl(224, 23%, 55%);
  font-weight: 400;
}

.contain {
  position: relative;
}

.price {
  width: 90%;
  height: 5rem;
  opacity: 0.8;
  background-color: hsl(225, 100%, 98%);
  /* background-color: aqua; */
  margin: auto;
  border-radius: 10px;
}

.pricing {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  display: flex;
  position: absolute;
  top: -2%;
  left: 7%;

  margin: auto;

  background-color: transparent;
}

.change {
  font-size: 0.9rem;
  cursor: pointer;
  margin: 35px 20px;
  color: hsl(252, 62%, 46%);
  text-decoration: underline;
}
.btn1 {
  margin: 15px;
  background-color: hsl(227, 84%, 55%);
  font-weight: 700;
  text-align: center;
  width: 90%;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family:  sans-serif;
}
.btn2{
    margin: 15px;
 
  font-weight: 700;
  text-align: center;
  width: 90%;
  padding: 15px;
  color:  hsl(224, 23%, 55%);
  border-radius: 10px;
  font-size: 1.2rem;
  font-family:  sans-serif;
}